torch==1.12.0
torchvision==0.13.0
numpy<1.3
scipy
scikit-learn
tqdm
tensorboardx
imageio
tensorflow
pyqt5
pyqtgraph

opencv-python # required for rescaling images since scipy cannot anymore
cuda-python